body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

#score {
    display: flex;
    flex-direction: row;
    /* flex: 1 1 100%; */
    max-height: 100%;
    padding: 8px 16px;
    gap: 32px;
    justify-content: center;
    align-items: space-between;
}

p.score {
    display: flex;
    font-size: 24px;
}

img {
    width: 100px;
    height: 100px;
}

#results {
    display: flex;
    flex-direction: column;
}

h2.resultsHeading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-bottom: 0px;
}

/* div#choices {
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
    gap: 32px;
    align-items: space-between;
} */

#gameSelections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* #playerSideSelection {
    padding: 8px 16px;
    gap: 32px;
    align-items: left;
    max-width: 50%;
    justify-content: left;
}

#computerSideSelection {
    padding: 8px 16px;
    gap: 32px;
    align-items: right;
    max-width: 50%;
    justify-content: right;
} */

.choiceText {
    font-size: 20px;
}

div#playerSideSelection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    gap: 32px;
    max-width: 50%
}

div#computerSideSelection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    gap: 32px;
    max-width: 50%
}

img.choiceThumb {
    width: 200px;
    height: 200px;
    
}

p#gameResults {
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}